@media (max-width: 959px) {
  .qrcode {
    display: none;
  }
}

.sidebar-link.active, .sidebar-sub-headers {
  background: #e6f7ff;
}

@media (min-width: 1025px) {
  .sidebar {
    width: 30rem;
  }
}