.qrcode {
  position: fixed;
  bottom: 4.5rem;
  right: 2.5rem;
  display: flex;
  flex-direction: column;

  img {
    width: 10rem;
  }

  span {
    font-size: 14px;
    text-align: center;
    line-height: 28px;
  }
}

@media (max-width: 959px) {
  .qrcode {
    display: none;
  }
}

.sidebar-link.active, .sidebar-sub-headers {
  background: #e6f7ff;
}