.vssue {
    padding: 0;
    max-width: 740px;
    margin: 0 auto;
    padding: 4rem 0;
}

.sidebar {
    font-size: 18px;
}

.go-to-top {
    z-index: 999 !important;
}

@media (max-width: 959px) {
    .vssue {
        padding: 4rem 2rem;
    }
}

.qrcode {
    margin-top: 30%;

    img {
        width: 40%;
        max-width: 200px !important;
    }
}

@media (max-width: 959px) {
    .qrcode {
        position: static;
    }
}