.contributor-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0;

    &.page {
        max-width: 740px;
        margin: 0 auto;
    }

    .title {
        margin-right: 10px;
    }

    .avatar {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        margin-right: 8px;
        display: inline-block;
    }
}

.page {
    .contributor-list {
        max-width: 740px;
        margin: 0 auto;
    }

    @media (max-width: 959px) {
        .contributor-list {
            padding: 2rem 2rem;
        }
    }
}