.contributor-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 740px;
    margin: 0 auto;
    padding: 1rem 0;

    .title {
        margin-right: 10px;
    }

    .avatar {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        margin-right: 8px;
        display: inline-block;
    }
}
