.visual-frame {
    border: 1px solid #000;
    width: 100%;
    border-radius: 6px;
    height: 300px;
}

.box {
    position: relative;
}

.link {
    position: absolute;
    bottom: 8px;
    right: 4px;
    font-size: 12px;
}